*/dist
*/node_modules
/node_modules
/dist

# Ignore Lerna specific directories
/.lerna
/lerna-debug.log


# Ignore IDE and editor-specific files
/.vscode
/.idea
*.sublime-project
*.sublime-workspace
node_modules/
dist/

